@model Курсач.Models.ViewModel

<br />
<p style="color:red;">@(ViewBag.Error == null ? "" : ViewBag.Error)</p>
@using (Ajax.BeginForm("CallForm", "Admin", new AjaxOptions { UpdateTargetId = "form-content" }))
{
    <button onClick="getElementById('modal').removeAttribute('style'); getElementById('lock').style.overflow = 'hidden';" 
            name="name" value="car">Добавить Автомобиль</button>
}
<style>
    table{
        max-width:800px;
    }
</style>
<div class="wrappertable">
    <table class="table adapt-table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Марка
                </th>
                <th>
                    Цвет
                </th>
                <th>
                    Номер автомобиля
                </th>
                <th>
                    Дата выпуска автомобиля
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td>
                        @item.CarID
                    </td>
                    <td>
                        @(item.Brand?.BrandName)
                    </td>
                    <td>
                        @(item.Colour?.ColourName)
                    </td>
                    <td>
                        @item.CarNumber
                    </td>
                    <td>
                        @(item.ReleaseYear.Year + "-" + item.ReleaseYear.Month + "-" + item.ReleaseYear.Day)
                    </td>
                    <td class="man-but">
                        @using (Ajax.BeginForm("CallForm", "Admin", new AjaxOptions { UpdateTargetId = "form-content" }))
                        {
                            <button onClick="getElementById('modal').removeAttribute('style'); getElementById('lock').style.overflow = 'hidden';"
                                    name="name" value="car">
                                Редактировать
                            </button>
                            <input type="hidden" name="id" value=@item.CarID class="manage-button" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pages">

    @using (Ajax.BeginForm("Modering", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="hidden" name="selected" value="cars" />
        <div class="nav-button">
            <button class="component" type="submit" name="navig" value="prev" @(ViewBag.NumberPage == 1 ? "disabled" : "")><</button>
            <button class="component" type="submit" name="navig" value="next" @(ViewBag.NumberPage == ViewBag.TotalPages ? "disabled" : "")>></button>
        </div>
        <br />
        <select class="page" name="page">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <option value=@i @(i == ViewBag.NumberPage ? "selected=\"selected\"" : "")>@i</option>
            }
        </select>
        <button class="component" type="submit">Ok</button>
    }
</div>