@model Курсач.Models.ViewModel
<br />
<p style="color:red;">@(ViewBag.Error == null ? "" : ViewBag.Error)</p>
   @using (Ajax.BeginForm("CallForm", "Admin", new AjaxOptions { UpdateTargetId = "form-content" }))
   {
    <button onClick="getElementById('modal').removeAttribute('style'); getElementById('lock').style.overflow = 'hidden';" 
            name="name" value="discount">Добавить скидку</button>
   }
<div class="wrappertable">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Размер скидки
                </th>
                <th>
                    Описание
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Discounts)
            {
                <tr>
                    <td>
                        @item.DiscountID
                    </td>
                    <td>
                        @item.Size
                    </td>
                    <td class="reason">
                        @item.Reason
                    </td>
                    <td  class="man-but">
                        @using (Ajax.BeginForm("CallForm", "Admin", new AjaxOptions { UpdateTargetId = "form-content" }))
                        {
                            <button onClick="getElementById('modal').removeAttribute('style'); getElementById('lock').style.overflow = 'hidden';"
                                    name="name" value="discount">
                                Редактировать
                            </button>
                            <input type="hidden" name="id" value=@item.DiscountID class="manage-button" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pages">

    @using (Ajax.BeginForm("Modering", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="hidden" name="selected" value="discounts" />
        <div class="nav-button">
            <button class="component" type="submit" name="navig" value="prev" @(ViewBag.NumberPage == 1 ? "disabled" : "")><</button>
            <button class="component" type="submit" name="navig" value="next" @(ViewBag.NumberPage == ViewBag.TotalPages ? "disabled" : "")>></button>
        </div>
        <br />
        <select class="page" name="page">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <option value=@i @(i == ViewBag.NumberPage ? "selected=\"selected\"" : "")>@i</option>
            }
        </select>
        <button class="component" type="submit">Ok</button>
    }
</div>